@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-gray: #f5f5f5;
  --bg-light-blue: rgba(84, 144, 245, 0.2);
  --bg-light-yellow: #f7ebcf;

  --text-black: #0e0e0e;
  --text-light-1: rgba(14, 14, 14, 0.8);
  --text-light-2: rgba(14, 14, 14, 0.7);
  --text-light-3: rgba(14, 14, 14, 0.5);
  --text-light-4: rgba(14, 14, 14, 0.3);

  --dark-green: #006a50;
  --light-green: #c6e4d6;

  --white: #ffffff;

  --dark-yellow: #ffc239;

  --border-light: rgba(14, 14, 14, 0.15);
  --border-dark-blue: #5490f5;
  --border-dark-green: #09a15c;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*common styles*/
body {
  background-color: var(--bg-gray);
  font-family: "Fira Sans", sans-serif;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.mt-20 {
  margin-top: 20px;
}

.mt-64 {
  margin-top: 64px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-black);
}

.text-center {
  text-align: center;
}

.btn {
  color: white;
  border-radius: 8px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 300ms;
}
.btn-small {
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  padding: 11px 18px;
  font-size: 14px;
  font-weight: 600;
}

.btn-blue {
  background-color: var(--border-dark-blue);
}

.btn-blue:hover {
  background-color: #366fde;
}

.btn-light-green {
  background-color: var(--border-dark-green);
}

.btn-light-green:hover {
  background-color: #087d4a;
}

.btn-yellow {
  background-color: var(--dark-yellow);
}

.btn-yellow:hover {
  background-color: #e0a726;
}

.btn-green {
  background-color: var(--dark-green);
}
.btn-green:hover {
  background-color: red;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--border-light);
  border-radius: 16px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card h3,
.small-heading {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-light-1);
}

.card p,
.common-paragraph {
  font-size: 15px;
  color: var(--text-light-2);
  line-height: 1.6;
}

/*header*/

#header {
  padding-block: 18px;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-title {
  font-size: 23px;
  font-weight: bold;
  color: var(--text-black);
}

nav .nav-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  border-radius: 8px;
}

/*banner area*/

.banner {
  background-color: var(--light-green);
  border-radius: 24px;
  padding: 50px 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-content .subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light-3);
}

.banner-content .title {
  font-size: 46px;
  font-weight: bold;
  color: var(--text-black);
  max-width: 505px;
}

.banner-image img {
  max-width: 440px;
}

.banner-btn {
  margin-top: 12px;
}

/*pillars section*/

.pillars-cards {
  margin-top: 26px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pillars-cards .card {
  max-width: 300px;
  width: 100%;
}

/*vision section*/

.vision-paragraph {
  margin-block: 20px;
}

.vision-cards {
  display: flex;
  align-items: center;
  gap: 22px;
}

.vision-cards .card {
  max-width: 375px;
}

.vision-cards .card .card-btn {
  margin-top: 10px;
}

.vision-cards .card:nth-child(1) {
  background-color: var(--bg-light-blue);
  border: 1px solid var(--border-dark-blue);
}
.vision-cards .card:nth-child(2) {
  background-color: var(--light-green);
  border: 1px solid var(--border-dark-green);
}
.vision-cards .card:nth-child(3) {
  background-color: var(--bg-light-yellow);
  border: 1px solid var(--dark-yellow);
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 38px 24px;
  background-color: var(--white);
  border: 1px solid var(--border-light);
  border-radius: 16px;
  background-image: url("../assets/quote-bg.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
}

.quote h2 {
  margin-bottom: 3px;
}

/*opinion section*/

.opinion-table {
  border-collapse: collapse;
}

.table-container {
  background-color: var(--white);
  border-radius: 16px;
  padding: 26px;
  margin-top: 26px;
}

.opinion-section .opinion-table {
  width: 100%;
}

.opinion-table thead {
  background-color: var(--light-green);
  border: 1px solid var(--border-light);
}

.opinion-table .table-head-1 {
  text-align: start;
  padding: 20px;
}
.opinion-table .table-head-2 {
  text-align: right;
  padding: 20px;
}

.opinion-table .table-head-1,
.opinion-table .table-head-2 {
  font-size: 18px;
  font-weight: 600;
}

.opinion-table tbody td {
  border: 1px solid var(--border-light);
  padding: 20px 24px;
  color: var(--text-black);
}

.td-title {
  font-size: 16px;
  font-weight: 600;
}

.td-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.td-select select {
  background-color: var(--light-green);
  border: 1px solid var(--text-black);
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black);
  border-radius: 6px;
  cursor: pointer;
}

/*recent news section*/

.recent-news > p {
  margin-block: 20px;
}

.news-cards {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.news-cards .news-card {
  padding: 40px;
  background-color: var(--white);
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.card-image img {
  border-radius: 24px;
}

.news-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-card-content h4 {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-light-1);
}

.news-card-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-card-date p {
  font-size: 15px;
  color: var(--text-light-2);
}

.news-card:nth-of-type(even) .card-image {
  order: 2;
}

/*donation section*/

.donation-section > p {
  width: 93%;
  margin: 20px auto;
}

.donate-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.donate-card {
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid var(--border-light);
  padding: 40px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.donate-card:hover {
  background-color: var(--light-green);
}

.donate-card p {
  font-size: 34px;
  font-weight: bold;
  color: var(--text-light-1);
}

.donation-input {
  background-color: white;
  border: 1px solid var(--border-light);
  margin-inline: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

.donation-input input {
  font-size: 18px;
  border: none;
}

.donation-input input:focus {
  outline: none;
}

.donation-input input::placeholder {
  color: var(--text-light-4);
}
